In [1]:
import requests

In [2]:
download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"

In [3]:
target_csv_path = "nba_all_elo.csv"

In [4]:
response = requests.get(download_url)

In [5]:
response.raise_for_status() #check that the request was successful

In [6]:
#save the file nba_all_elo.csv in your current working directory.

In [7]:
with open(target_csv_path, "wb") as f:
    f.write(response.content)

In [8]:
print("download ready")

download ready

In [9]:
#importing Pandas in Python with the pd alias

In [10]:
import pandas as pd

In [11]:
#read in the dataset and store it as a DataFrame object in the variable nba
#When you copy the file path, if you get the FileNotFoundError: [Errno 2]  
#then just flip the backslash to a forward slash and voila it works!

In [12]:
nba = pd.read_csv("C:/Users/Firoozeh/nba_all_elo.csv")

In [13]:
#check nba's type, it should be a DataFrame

In [14]:
type(nba)

pandas.core.frame.DataFrame

In [15]:
#len() determines the number of rows (observations) in a dataset

In [16]:
len(nba)

126314

In [17]:
#.shape determines dimensionality 
#the result is a tuple containing number of rows and columns

In [18]:
nba.shape

(126314, 23)

In [19]:
#take a look at the first five rows to see the actual data

In [20]:
nba.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [21]:
#configure Pandas to display all 23 columns

In [22]:
pd.set_option("display.max.columns", None)

In [23]:
#show only two decimal places

In [24]:
pd.set_option("display.precision", 2)

In [25]:
#display last five rows

In [26]:
nba.tail()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.98,1813.63,68.01,CLE,Cavaliers,91,1704.39,1700.74,H,W,0.77,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.63,1822.29,68.52,CLE,Cavaliers,97,1700.74,1692.09,A,W,0.52,NaN

In [27]:
#Q1-Display the first 3 rows of your dataset
print("First three rows of the data frame:")
nba.iloc[:3]

First three rows of the data frame:

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN

In [28]:
nba.head(3)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN

In [29]:
#Task3
# 3-1
#you can put anything into a list, but the columns of a DataFrame contain values of a specific data type.
#by comparing Pandas and Python data structures, youâ€™ll see that this behavior makes Pandas much faster!
#display all columns and their data types with .info()
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
gameorder        126314 non-null int64
game_id          126314 non-null object
lg_id            126314 non-null object
_iscopy          126314 non-null int64
year_id          126314 non-null int64
date_game        126314 non-null object
seasongame       126314 non-null int64
is_playoffs      126314 non-null int64
team_id          126314 non-null object
fran_id          126314 non-null object
pts              126314 non-null int64
elo_i            126314 non-null float64
elo_n            126314 non-null float64
win_equiv        126314 non-null float64
opp_id           126314 non-null object
opp_fran         126314 non-null object
opp_pts          126314 non-null int64
opp_elo_i        126314 non-null float64
opp_elo_n        126314 non-null float64
game_location    126314 non-null object
game_result      126314 non-null object
forecast         126314 non-null float64
notes            5424 non-null object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [30]:
#3-2
#get an idea of the values each column contains
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [31]:
#you can provide other data types using the include parameter
import numpy as np
nba.describe(include=np.object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,197803050BOS,NBA,4/16/2014,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

In [32]:
#Q3
nba["team_id"].value_counts()

BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
       ...
DTF      60
INJ      60
TRH      60
PIT      60
SDS      11
Name: team_id, Length: 104, dtype: int64

In [33]:
nba["fran_id"].value_counts()

Lakers          6024
Celtics         5997
Knicks          5769
Warriors        5657
Pistons         5650
Sixers          5644
Hawks           5572
Kings           5475
Wizards         4582
Spurs           4309
Bulls           4307
Pacers          4227
Thunder         4178
Rockets         4154
Nuggets         4120
Nets            4106
Suns            4080
Bucks           4034
Trailblazers    3870
Cavaliers       3810
Clippers        3733
Jazz            3555
Mavericks       3013
Heat            2371
Pelicans        2254
Magic           2207
Timberwolves    2131
Grizzlies       1657
Raptors         1634
Hornets          894
Colonels         846
Squires          799
Spirits          777
Stars            756
Sounds           697
Baltimore        467
Floridians       440
Condors          430
Capitols         291
Olympians        282
Sails            274
Stags            260
Bombers          249
Steamrollers     168
Packers           72
Redskins          65
Rebels            63
Denver            62
Waterloo          62
Falcons           60
Huskies           60
Ironmen           60
Jets              60
Name: fran_id, dtype: int64

In [34]:
nba.loc[nba["fran_id"] == "Lakers", "team_id"].value_counts()

LAL    5078
MNL     946
Name: team_id, dtype: int64

In [35]:
#Find out when they played those games
nba.loc[nba["team_id"] == "MNL", "date_game"].min()

'1/1/1949'

In [36]:
nba.loc[nba["team_id"]=="LAL","date_game"].min()

'1/1/1961'

In [37]:
nba.loc[nba["team_id"] == "MNL", "date_game"].max()

'4/9/1959'

In [38]:
nba.loc[nba["team_id"] == "LAL", "date_game"].max()

'6/9/2009'

In [39]:
nba.loc[nba["team_id"] == "LAL", "date_game"].agg(("min", "max")) #aggregate the two functions

min    1/1/1961
max    6/9/2009
Name: date_game, dtype: object

In [40]:
nba.loc[nba["team_id"] == "MNL", "date_game"].agg(("min", "max")) #aggregate the two functions

min    1/1/1949
max    4/9/1959
Name: date_game, dtype: object

In [41]:
nba.loc[nba["team_id"] == "BOS", "date_game"].agg(("min", "max")) #aggregate the two functions

min    1/1/1948
max    6/9/2012
Name: date_game, dtype: object

In [42]:
 #Q3
    nba.loc[nba["team_id"] == "MNL", "game_result"].value_counts()

IndentationError: unexpected indent (<ipython-input-42-b354494d6e11>, line 2)

In [ ]:
nba.loc[nba["team_id"] == "MNL", "pts"].sum()

In [ ]:
#Q4
nba.loc[nba["team_id"] == "BOS", "pts"].sum()

In [ ]:
#Q6
#Q6-1
nba.iloc[-4]

In [ ]:
#Q6-2
nba.iloc[1]

In [ ]:
#Q6-3
nba.loc[5555:5559, ["team_id", "fran_id", "pts"]]

In [ ]:
#create a new DataFrame that contains only games played after 2010
current_decade = nba[nba["year_id"] > 2010]
current_decade.shape

In [ ]:
#Q7 
new_nba = nba[(nba["year_id"]>=2000) & (nba["year_id"]<=2009)]

In [ ]:
new_nba.shape

In [ ]:
games_with_notes = nba[nba["notes"].notnull()]

In [ ]:
games_with_notes.shape

In [ ]:
ers = nba[nba["fran_id"].str.endswith("ers")]

In [ ]:
ers.shape

In [ ]:
#search for Baltimore games where both teams scored over 100 points.
#In order to see each game only once, youâ€™ll need to exclude duplicates
nba[(nba["_iscopy"] == 0) & (nba["pts"] > 100) & (nba["opp_pts"] > 100) & (nba["team_id"] == "BLB")]

In [ ]:
nba_1 = nba[nba["notes"].notnull()]

In [ ]:
nba_1.shape

In [49]:
#Q8
nba[(nba["_iscopy"] == 0) & (nba["pts"] > 100) & (nba["year_id"] == 2011) & (nba["is_playoffs"]==1) & (nba["opp_pts"]>100) ]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
116128,58065,201104170OKC,NBA,0,2011,4/17/2011,83,1,OKC,Thunder,107,1663.08,1666.80,57.19,DEN,Nuggets,103,1635.58,1631.86,H,W,0.68,NaN
116178,58090,201104250DEN,NBA,0,2011,4/25/2011,86,1,DEN,Nuggets,104,1616.91,1621.80,53.04,OKC,Thunder,101,1681.75,1676.86,H,W,0.55,NaN
116193,58097,201104270SAS,NBA,0,2011,4/27/2011,87,1,SAS,Spurs,110,1613.34,1618.78,52.75,MEM,Grizzlies,103,1606.29,1600.85,H,W,0.65,NaN
116205,58103,201105010OKC,NBA,0,2011,5/1/2011,88,1,OKC,Thunder,101,1679.75,1659.01,56.50,MEM,Grizzlies,114,1607.40,1628.13,H,L,0.73,NaN
116213,58107,201105030OKC,NBA,0,2011,5/3/2011,89,1,OKC,Thunder,111,1659.01,1664.65,57.00,MEM,Grizzlies,102,1628.13,1622.49,H,W,0.68,NaN
116233,58117,201105090MEM,NBA,0,2011,5/9/2011,92,1,MEM,Grizzlies,123,1629.74,1616.46,52.53,OKC,Thunder,133,1657.41,1670.68,H,L,0.60,NaN
116248,58125,201105170DAL,NBA,0,2011,5/17/2011,93,1,DAL,Mavericks,121,1698.00,1703.92,60.35,OKC,Thunder,112,1677.60,1671.68,H,W,0.67,NaN
116258,58130,201105230OKC,NBA,0,2011,5/23/2011,98,1,OKC,Thunder,105,1672.98,1662.28,56.79,DAL,Mavericks,112,1702.62,1713.31,H,L,0.60,NaN
116275,58138,201106090DAL,NBA,0,2011,6/9/2011,102,1,DAL,Mavericks,112,1715.05,1721.75,61.77,MIA,Heat,103,1722.42,1715.72,H,W,0.63,NaN

In [ ]:
#Q9
nba.groupby("fran_id", sort=False)["pts"].sum()

In [ ]:
nba[(nba["fran_id"] == "Spurs") & (nba["year_id"] > 2010)].groupby(["year_id", "game_result"])["game_id"].count()

In [ ]:
#Q9
nba[(nba["fran_id"] == "Knicks") &(nba["year_id"] == 2012)].groupby(["is_playoffs", "game_result"])["game_id"].count()

In [ ]:
#create a copy of your original DataFrame to work with

In [ ]:
df = nba.copy()
df.shape

In [ ]:
#define new columns based on the existing ones
df["difference"] = df.pts - df.opp_pts
df.shape

In [ ]:
#use an aggregation function .max() to find the largest value of your new column
df["difference"].max()

In [ ]:
#rename the columns of your dataset
renamed_df = df.rename(columns={"game_result": "result", "game_location": "location"})
renamed_df.info()

In [ ]:
#Delete unwanted columns - wont be analyzing Elo ratings here so go ahead and delete them
df.shape
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
df.drop(elo_columns, inplace=True, axis=1)
df.shape

In [ ]:
#take a look at the DataFrame
df.info()

In [ ]:
# use .to_datetime() to specify all game dates as datetime objects.
df["date_game"] = pd.to_datetime(df["date_game"])

In [ ]:
#game_location column can have only three different values.
#you can see this by executing this code
df["game_location"].nunique()

In [ ]:
df["game_location"].value_counts()

In [ ]:
#change the data type to categorical and check it
df["game_location"] = pd.Categorical(df["game_location"])

In [ ]:
df["game_location"].dtype

In [ ]:
df.info()

In [ ]:
#Q10-
df["game_result"].nunique()

In [ ]:
df["game_result"].value_counts()

In [ ]:
df["game_result"] = pd.Categorical(df["game_result"])

In [ ]:
df.info()

In [ ]:
nba.info()

In [ ]:
#Task 9
# 9-1
#1st way- usually best approach is to ignore them, remove all rows with missing values
rows_without_missing_data = nba.dropna()

In [ ]:
rows_without_missing_data.shape

In [ ]:
#2nd way - Drop columns if they are not relevant to your analysis
data_without_missing_columns = nba.dropna(axis=1)
data_without_missing_columns.shape

In [ ]:
#3rd way - replace the missing values with a meaningful default value for your use case
data_with_default_notes = nba.copy()
data_with_default_notes["notes"].fillna(value="no notes at all", inplace=True)
data_with_default_notes["notes"].describe()

In [ ]:
#9-2 Invalid Values
#selecting the games where pts are 0
nba[nba["pts"] == 0]

In [ ]:
#9-3 Inconsistent Value
#check using the .empty() attribute
nba[(nba["pts"] > nba["opp_pts"]) & (nba["game_result"] != 'W')].empty
nba[(nba["pts"] < nba["opp_pts"]) & (nba["game_result"] != 'L')].empty

In [ ]:
#task10
#visualisation
#Include this line to show plots directly in the notebook
%matplotlib inline

In [ ]:
#Visualize how many points the Knicks scored throughout the seasons
nba[nba["fran_id"] == "Knicks"].groupby("year_id")["pts"].sum().plot()

In [ ]:
#create a bar plot to show the franchises with the most games played
nba["fran_id"].value_counts().head(10).plot(kind="bar")

In [ ]:
# Q10
#10-3
nba[(nba["fran_id"] == "Heat") &(nba["year_id"] == 2013)]["game_result"].value_counts().plot(kind="pie")